{:deps {org.apache.maven.resolver/maven-resolver-api {:mvn/version "2.0.1"}
        org.apache.maven.resolver/maven-resolver-spi {:mvn/version "2.0.1"}

        org.apache.maven.resolver/maven-resolver-util {:mvn/version "2.0.1"}
        org.apache.maven.resolver/maven-resolver-impl {:mvn/version "2.0.1"}

        org.apache.maven.resolver/maven-resolver-connector-basic {:mvn/version "2.0.1"}
        org.apache.maven.resolver/maven-resolver-transport-file {:mvn/version "2.0.1"}
        org.apache.maven.resolver/maven-resolver-transport-apache {:mvn/version "2.0.1"}
        org.apache.maven.resolver/maven-resolver-transport-jdk {:mvn/version "2.0.1"}
        org.apache.maven.resolver/maven-resolver-transport-jetty {:mvn/version "2.0.1"}

        org.apache.maven.resolver/maven-resolver-generator-gnupg {:mvn/version "2.0.1"}
        org.apache.maven.resolver/maven-resolver-supplier-mvn4 {:mvn/version "2.0.1"}

        org.apache.maven/maven-resolver-provider {:mvn/version "4.0.0-beta-3"}
        org.apache.maven/maven-model-builder {:mvn/version "4.0.0-beta-3"}
        org.apache.maven/maven-settings {:mvn/version "4.0.0-beta-3"}
        org.apache.maven/maven-model {:mvn/version "4.0.0-beta-3"}

        meta-merge/meta-merge {:mvn/version "1.0.0"}}

 :aliases {:build {:extra-deps {org.clojure/clojure {:mvn/version "1.12.0"}
                                io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                   :extra-paths ["./build"]
                   :ns-default build}

           :test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               nubank/matcher-combinators {:mvn/version "3.9.1"}}
                  :main-opts ["-m" "kaocha.runner" "-c" "kaocha.edn"]}}}
